{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{% url 'dashboard:index' %}">DWT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'dashboard' %}active-tab{% endif %}" href="{% url 'dashboard:index' %}">
                  Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'walks' %}active-tab{% endif %}" href="{% url 'walks:index' %}">
                  Walks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'devices' %}active-tab{% endif %}" href="{% url 'devices:index' %}">
                  Devices
                </a>
            </li>
        </ul>
    </div>

  </div>
</nav>