{% extends 'base.html' %}
{% block title %} {{device.name}} {% endblock %}
{% block content %}
<div class="container d-flex flex-row flex-wrap justify-content-between">
    <div>
        <h1>{{ device.name }}</h1>
        <p><strong>Device Type:</strong> {{ device.type }}</p>
        <p><strong>Device Location:</strong> {{ device.location }}</p>
        <p><strong>IP Address:</strong> {{ device.ip }}</p>
        <p><strong>Status:</strong> {% if device.status %} Active {% else %} Inactivce {% endif %}</p>

        <h2>Walks</h2>
        <ul>
            {% for walk in walks %}
                <li>{{ walk.date }} - {{ walk.distance }} km</li>
            {% empty %}
                <li>No walks recorded.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'devices:index' %}" class="btn btn-secondary">Back to Devices</a>
    </div>

    <div class='d-flex flex-column align-items-center'>
        <h3 class='text-secondary'>Live Stream</h3>
        <img src="{{ device.stream_url }}" width="640" height="480" />
        <div>
            <button class="btn btn-primary" id="start_stream_button">Start Stream</button>
            <button class="btn btn-danger" id="stop_stream_button">Stop Stream</button>
        </div>
        <div class="mt-2">
            <p><strong>Stream URL:</strong> {{ device.stream_url }}</p>
        </div>
    </div>

</div>

<script>
    STOP_STREAM_URL = {{ device.stop_stream_url }}
    START_STREAM_URL = {{ device.start_stream_url }}

    document.getElementById('start_stream_button').onclick = function() {
        if (confirm('Are you sure you want to start the stream?')) {
            fetch(START_STREAM_URL, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        alert('Stream started successfully!');
                    } else {
                        alert('Failed to start the stream.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while starting the stream.');
                })
                .finally(() => {
                    // Reload the page to refresh the stream
                    window.location.reload();
                });
        }
    };

    document.getElementById('stop_stream_button').onclick = function() {
        if (confirm('Are you sure you want to stop the stream?')) {
            fetch(STOP_STREAM_URL, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log('Stream stopped successfully!');
                    } else {
                        alert('Failed to stop the stream.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while stopping the stream.');
                });

        }
    };
</script>
{% endblock %}